.box {
  width: 21px;
  height: 21px;
  background-color: #010f3e;
  margin-top: 15px;
  margin-left: 30px;
}
.subtitle {
  font-family: Roboto;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.landing-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-top: 20px;
  margin-left: 30px;
  font-family: Roboto;
}

.landing-intro p {
  margin-top: 20px;
}

.landing-intro h1 {
  background-color: #010f3e;
  padding: 10px;
  color: white;
}

.steps {
  margin-left: 20px;
}
